/* basic css setting start */

html{
	box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
}

.common-buttom{
	background-color: white;
	color: black;
	font-weight: bold;
	padding:0.5rem 5rem;
	display: inline-block;
	border-radius: 10px;
	transition: background-color 0.5s;
	text-decoration: none;
	
}

.common-buttom:hover{
	background-color: black;
	color: white;
}

a:focus>img{
	width: 80%;
}

/*p{
	font-size: 11pt;
}

a:link{
	color: white;
}

a:visited{
	color: white;
}

a:hover{

}

a:focus{

}*/
/* basic css setting stop */

/* header css setting start */
.header-top{
	background-color: black;
	color: white;

	display: grid;
	grid-template-columns: 85% 15%;

	padding: 0.5rem;
	font-size: 9pt;
	text-align: center;
}

.header-top:nth-of-type(1){
	font-weight: 800;
}

.header-bottom{
	display: grid;
	grid-template-columns: 27% auto 27%;
	color: black;
	text-align: center;
	padding: 0.5rem ;
	border-bottom: 1px solid #CCC;
}

.search-sigin-cart{
	text-align: right;
	margin-right: 4rem;
}

.search-sigin-cart>a{
	margin-right: 1rem;
}

@media (max-width: 800px){
	.header-bottom{
		grid-template-columns: 100%;
	}
}
/* header css setting stop */